<!-- Introduction -->
<section class="certifications__intro">
    <div class="certifications-intro__content">

        <!-- Header -->
        <div class="certifications-intro__text">
            <h1 class="certifications__title--intro">Certifications</h1>
            <p class="certifications__subtitle--intro">Courses and Degrees</p>
            <p class="certifications-description">Here are some of the certifications and degrees I have earned,
                demonstrating my commitment to continuous learning and professional development.</p>
        </div>

        <!-- Image -->
        <img src="/img/certifications2-intro.jpg" alt="Certifications" 
            class="certifications-intro__img fade-in-image">
    </div>
</section>

<div class="section-divider"></div>

<div class="certifications-individual">

    <!-- Certifications List -->
    <section class="certifications">
        <div class="certification">
            <h3>Certified Scrum Master</h3>
            <p>Earned certification for mastering the fundamentals of the Scrum framework, improving team collaboration
                and project management.</p>
            <a href="/img/certifications2-intro.jpg" target="_blank" class="certification-large-img">
                <img src="/img/certifications2-intro.jpg" alt="Certified Scrum Master" class="certification-small-img">
            </a>
        </div>
        <div class="certification">
            <h3>Full Stack Web Development</h3>
            <p>Completed an extensive course covering both front-end and back-end web development technologies and best
                practices.</p>
            <!-- <a href="/img/certifications3-large.jpg"  -->
            <a href="/img/certifications2-intro.jpg" 
                target="_blank" class="certification-large-img">
                <img src="/img/certifications2-intro.jpg" alt="Full Stack Web Development"
                    class="certification-small-img">
            </a>
        </div>
        <!-- Add more certifications as needed -->
    </section>
</div>