<!-- Introduction -->
<section class="certifications__intro">
    <div class="certifications-intro__content">

        <!-- Header -->
        <div class="certifications-intro__text">
            <h1 class="certifications__title--intro">Certifications</h1>
            <p class="certifications__subtitle--intro">Courses and Degrees</p>
            <p class="certifications-description">Here are some of the certifications and degrees I have earned,
                demonstrating my commitment to continuous learning and professional development.</p>
        </div>

        <!-- Image -->
        <img src="/img/certifications2-intro.jpg" alt="Certifications" class="certifications-intro__img fade-in-image">
    </div>
</section>

<div class="section-divider"></div>

<div class="certifications-individual">
    <!-- Educational Background and Professional Certification -->
    <section class="education__section">
        <div class="education__content">
            <div class="education__text">
                <h2>Educational Background and Professional Certification</h2>
                <p>I hold a degree in Computer Engineering and have successfully passed the professional qualification
                    exam, earning my
                    license as a certified engineer. My academic background and professional certification underscore my
                    commitment to
                    excellence and continuous learning in the field of engineering. </p>
            </div>
            <div class="education__images">
                <img src="/img/certifications/laurea.png" alt="Degree" class="education-small-img">
                <img src="/img/certifications/diploma.png" alt="Professional Certification" class="education-small-img">
            </div>
        </div>
    </section>

    <div class="section-divider"></div>

    <!-- Certifications List -->
    
    <div class="certifications-container">
        <h2 class="certifications-container-title">Training and Certifications</h2>
        <div class="certifications">
            <div class="certification">
                <h3>Intelligenza Artificiale e Machine Learning - 2025 Edition</h3>
                <p>The online course in Artificial Intelligence and Machine Learning, organized by Unione Professionisti, aims to introduce
                the fundamental principles that enable advanced technologies in the field of artificial intelligence (AI), and in
                particular machine learning models.</p>
                <img src="/img/certifications/07 - Intelligenza-Artificiale-e-Machine-Learning.png" alt="Certified Scrum Master"
                    class="certification-small-img">
            </div>
            <div class="certification">
                <h3>Mastering Typescript - 2024 Edition</h3>
                <p>A comprehensive guide to TypeScript, focusing on both foundational and advanced concepts relevant to modern web
                development. It’s designed to help developers improve their code quality with TypeScript’s robust typing and
                error-checking features, making JavaScript applications more maintainable and scalable. Key topics include
                object-oriented programming with TypeScript, working with complex codebases, and applying these skills in practical,
                real-world projects to build confidence and proficiency.</p>
                <img src="/img/certifications/06 - Mastering Typescript - 2024 Edition.jpg" alt="Certified Scrum Master"
                    class="certification-small-img">
            </div>
            <div class="certification">
                <h3>The Web Developer Bootcamp 2024</h3>
                <p>Earned certification for a comprehensive and up-to-date course designed for web developers. It covers
                    essential technologies such as HTML, CSS, JavaScript, Node.js, Express, and MongoDB, providing hands-on projects
                    and
                    real-world
                    applications. With over 60 hours of content, it equips learners with the skills needed to build and deploy
                    dynamic
                    web
                    applications from scratch.</p>
                <img src="/img/certifications/02 - The Web Developer Bootcamp 2024.png" alt="Certified Scrum Master"
                    class="certification-small-img">
            </div>
            <div class="certification">
                <h3>The Complete 2023 Web Development Bootcamp</h3>
                <p>Completed an extensive, all-encompassing course tailored for those looking to deepen their web
                    development skills. It covers a wide range of technologies including HTML, CSS, JavaScript, Node.js, React, MongoDB, and more.
                    With engaging lectures and hands-on projects, learners gain practical experience in building full-stack web applications,
                    preparing them for a successful career in web development.</p>
                <img src="/img/certifications/03 - The Complete 2023 Web Development Bootcamp.png"
                    alt="Full Stack Web Development" class="certification-small-img">
            </div>
            <div class="certification">
                <h3>MongoDB: The Complete Developer's Guide 2023</h3>
                <p>A comprehensive, up-to-date guide for MongoDB, covering essential concepts, features, and best
                    practices.
                    Designed for developers seeking to master MongoDB, It covers everything from basic CRUD
                    operations to advanced topics like indexing, aggregation, and replication. Through practical
                    examples and projects, learners gain hands-on experience in using MongoDB effectively in real-world applications, equipping
                    them with the skills needed to leverage this powerful NoSQL database in their development projects.
                </p>
                <img src="/img/certifications/01a - MongoDB - The Complete Developer's Guide 2023.png"
                    alt="Full Stack Web Development" class="certification-small-img">
            </div>
            <div class="certification">
                <h3>SQL - The Complete Developer's Guide (MySQL, PostgreSQL)</h3>
                <p>An in-depth course aimed at developers who want to master SQL and database management. This course
                    covers the essentials of SQL syntax and commands, along with advanced topics such as complex queries, database design, and
                    optimization techniques. Through practical exercises and real-world projects, learners acquire proficiency in
                    both MySQL and PostgreSQL, enabling them to efficiently manage and interact with relational databases in their
                    applications.
                </p>
                <img src="/img/certifications/01 - SQL- The Complete Developer's Guide (MySQL, PostgreSQL).png"
                    alt="Full Stack Web Development" class="certification-small-img">
            </div>
            <!-- Add more certifications as needed -->
        </div>
    </div>
</div>