<!-- Intro section  -->
<section class="intro section" id="home">
    <div class="intro-section__content">
        <h1 class="section__title section__title--intro fade-in-text">
            Hi, I'm <strong>Gianmario</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro fade-in-text">Full-Stack Developer</p>
        <img src="/img/intro.png" alt="a picture of me" class="intro__img fade-in-image fade-in-image-hover">
        <ul class="skills">
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Next.js 15</li>
            <li>React 19</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Tailwind CSS 4</li>
            <li>Material-UI</li>
            <li>Redux</li>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>Sanity</li>
        </ul>
    </div>
</section>

<div class="section-divider"></div>

<!-- My services section -->
<section class="my-services section" id="services">
    <div class="section__content">
        <h2 class="section__title-light section__title--services fade-in">What I do</h2>
        <div class="services fade-in">
            <div class="service">
                <h3>Custom Web Application Design and Development</h3>
                <p>Building tailored web applications that meet specific business requirements. Utilizing modern
                    technologies such as the MERN stack (MongoDB, Express.js, React, Node.js) to create robust,
                    scalable,
                    and responsive applications. From initial concept to deployment, I ensure a seamless and efficient
                    development process.</p>
            </div>
            <!-- /service -->
            <div class="service">
                <h3>API Design and Integration</h3>
                <h3></h3>
                <p>Designing and implementing RESTful APIs for seamless communication between different software
                    systems.
                    Expertise in integrating third-party APIs to enhance application functionality, including payment
                    gateways, social media platforms, and cloud services. Ensuring secure and efficient data exchange to
                    provide a superior user experience.</p>
            </div>
            <!-- /service -->
            <div class="service">
                <h3>Database Management and Optimization</h3>
                <p>Managing and optimizing databases to ensure efficient data storage and retrieval. Expertise in
                    database
                    design, normalization, and performance tuning to enhance application speed and scalability.
                    Proficient
                    in SQL and NoSQL databases like MongoDB, MySQL, and PostgreSQL. Implementing data security measures
                    and
                    ensuring data integrity to support reliable backend operations.</p>
            </div>
            <!-- /service -->
        </div>
        <!-- /services -->
        <a href="#work" class="btn">My Work</a>
    </div>
</section>

<div class="section-divider"></div>

<!-- About me section -->
<section class="about-me section" id="about">
    <div class="section__content">
        <!-- Header -->
        <div class="about-me__header">
            <!-- Titles -->
            <div class="about-me__title-div fade-in">
                <h2 class="section-title-dark">Who I am</h2>
                <p class="section__subtitle-dark fade-in">With a combination of technical depth and strategic vision, I help businesses navigate the intersection of
                innovation and execution.</p>
            </div>
            <!-- Image -->
            <img src="/img/about-me.png" alt="" class="about-me__img fade-in">

        </div>
        <div class="about-me__body fade-in">
            <p></p>
            <p>Hello there! I'm Gianmario, a passionate full-stack Web developer based in Italy.</p>
            <p>I'm specialized in developing web applications using the MERN stack. </p>
            <p>With over two decades of experience in the IT industry, my journey began as a software engineer
                specializing
                in telecommunications networks. Over the years, I've transitioned into sales management roles, driving
                technological solutions in industrial automation, IT, and IoT sectors.</p>
            <p>Today, I'm diving back into my technical roots, focusing on freelance projects in Web development.</p>

            <h3 class="approach__title">My Approach</h3>
            <p>In every project, I bring a blend of technical expertise and strategic insight. My approach is rooted in
                a
                deep understanding of client needs, coupled with agile development practices to ensure timely and
                efficient
                delivery. I'm constantly expanding my skills in AI, DevOps, and Cloud technologies to stay at the
                forefront
                of innovation.</p>

            <!-- My Experience -->
            <h3 class="experience__title">My Experience</h3>
            <div class="experience__content">

                <!-- Experience 1 -->
                <div class="experience__item">
                    <div class="experience__item-container">
                        <!-- Icon -->
                        <div class="experience__icon">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <!-- Details -->
                        <div class="experience__details">
                            <h3>Software Engineering</h3>
                            <p>Responsible for developing and maintaining web applications using modern technologies
                                like React,
                                Node.js, and MongoDB.</p>
                        </div>
                    </div>
                </div>

                <!-- Experience 2 -->
                <div class="experience__item">
                    <!-- Icon + Details container -->
                    <div class="experience__item-container">
                        <!-- Icon -->
                        <div class="experience__icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <!-- Details -->
                        <div class="experience__details">
                            <h3>Freelance Web Developer</h3>
                            <p>4+ years of experience</p>
                            <p>Worked on over 15 projects ranging from content platforms, e-commerce to personal blogs.</p>
                            
                        </div>
                    </div>
                    <!-- Button -->
                    <a href="#contact" class="btn experience-btn">Contact Me</a>
                </div>

                <!-- Experience 3 -->
                <div class="experience__item">
                    <!-- Icon + Details container -->
                    <div class="experience__item-container">
                        <!-- Icon -->
                        <div class="experience__icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <!-- Details -->
                        <div class="experience__details">
                            <h3>Projects</h3>
                            <p>15+ projects</p>
                            <ul>
                                <li>Content platforms (blogs, news, etc.) for IT company and Travel agencies</li>
                                <li>E-commerce for a local business</li>
                                <li>Agile Project Management tool for small-medium sized businesses</li>
                                <li>Sales Management solution for a logistics company (WMS)</li>
                            </ul>
                
                        </div>
                    </div>
                    <!-- Button -->
                    <a href="#work" class="btn experience-btn">My Work</a>
                </div>

                <!-- Additional Experience -->
                <div class="experience__item">
                    <!-- Icon + Details container -->
                    <div class="experience__item-container">
                        <!-- Icon -->
                        <div class="experience__icon">
                            <i class="fas fa-certificate"></i>
                        </div>
                        <!-- Details -->
                        <div class="experience__details">
                            <h3>Certifications</h3>
                            <p>Completed courses on:</p>
                            <ul>
                                <li>Full-Stack Web Development</li>
                                <li>React and Redux</li>
                                <li>Node.js and Express</li>
                                <li>MongoDB and Mongoose</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Button -->
                    <a href="/certifications" class="btn experience-btn">More...</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-divider"></div>

<!-- My Work section -->
<section class="my-work section" id="work">
    <div class="my-work-section__content fade-in">
        <!-- Header -->
        <div class="work__title fade-in">
            <h2 class="section__title-light fade-in">My work</h2>
            <p class="section__subtitle-light fade-in">A selection of my range of work</p>
            <p class="section__paragraph--work">Click on any project to learn more</p>
        </div>

        <!-- Portfolio -->
        <div class="portfolio fade-in">
            <!-- Portfolio item 06 -->
            <a href="/projects/portfolio-item-06" class="portfolio__item">
                <img src="/img/portfolio-06.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 01 -->
            <a href="/projects/portfolio-item-01" class="portfolio__item">
                <img src="/img/portfolio-01.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 08 -->
            <a href="/projects/portfolio-item-08" class="portfolio__item">
                <img src="/img/portfolio-08.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 07 -->
            <a href="/projects/portfolio-item-07" class="portfolio__item">
                <img src="/img/portfolio-07.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 02 -->
            <a href="/projects/portfolio-item-02" class="portfolio__item">
                <img src="/img/portfolio-02.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 03 -->
            <a href="/projects/portfolio-item-03" class="portfolio__item">
                <img src="/img/portfolio-03.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 04 -->
            <a href="/projects/portfolio-item-04" class="portfolio__item">
                <img src="/img/portfolio-04.png" alt="" class="portfolio__img">
            </a>
            <!-- Portfolio item 05 -->
            <a href="/projects/portfolio-item-05" class="portfolio__item">
                <img src="/img/portfolio-05.png" alt="" class="portfolio__img">
            </a>
        </div>
    </div>
</section>

<div class="section-divider"></div>

<!-- Contact Me section -->
<section class="contact-me section" id="contact">
    <div class="contact-me-section__content">
        <!-- Header -->
        <div class="contact-me__header">
            <!-- <h2 class="section__title section__title--contact fade-in">Contact Me</h2> -->
            <h2 class="section-title-dark section__title--contact fade-in">Contact Me</h2>
            <p class="section__subtitle-dark fade-in">Get in touch</p>
        </div>

        <!-- Form -->
        <form id="contact-form">
            <div class="form-group">
                <label for="name">Name <span>*</span></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="company">Company <span>*</span></label>
                <input type="text" id="company" name="company" required>
            </div>
            <div class="form-group">
                <label for="email">Email <span>*</span></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone">
            </div>
            <div class="form-group">
                <label for="subject">Subject <span>*</span></label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="message">Message <span>*</span></label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button type="submit" class="btn" id="submit-button" disabled>Send</button>
            <p id="error-message" class="error-message"></p>
            <p id="success-message" class="success-message"></p>
        </form>
        
    </div>
</section>

<div class="section-divider"></div>

