<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            "Gianmario's Portfolio"
        </title>
        <script src="https://kit.fontawesome.com/7b3df862e5.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <% if (isMain) { %>
            <%- include('partials/header1') %>
                <% } else { %>
                    <%- include('partials/header2') %>
                        <% } %>

                            <main>
                                <%- body %> <!-- Questo è il punto in cui il contenuto di index.ejs verrà inserito -->
                            </main>

                            <%- include('partials/footer') %>
                                <script src="/js/index.js"></script>
    </body>

</html>