/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-dark-background);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5rem 2rem;
    position: relative;
}

.section__title-light {
    color: var(--clr-light);
    font-size: var(--fs-h2);
    margin-bottom: 1rem;
    text-align: left;
}

.section-title-dark {
    color: var(--clr-dark1);
    font-size: var(--fs-h2);
    margin-bottom: 1rem;
    text-align: left;
}

.section__subtitle-light {
    color: var(--clr-light);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    text-align: left;
}

.section__subtitle-dark {
    color: var(--clr-dark1);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    text-align: left;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 70em;
    margin: 0 auto;
}

/* Divider */
.section-divider {
    height: 2px;
    width: 100%;
    background-color: var(--clr-accent);
    margin: 0 auto;
    position: relative;
}

.section-divider::before {
    left: -25%;
}

.section-divider::after {
    right: -25%;
}

/* Typography */

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* Button */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark1);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder; 
    transition: transform 200ms ease-in-out;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
}

.btn:hover {
    transform: scale(1.1);
}

/* Effects */

/* Fade in transition for images */
.fade-in-image {
animation: fadeIn 5s;
-webkit-animation: fadeIn 5s;
-moz-animation: fadeIn 5s;
-o-animation: fadeIn 5s;
-ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Fade in transition for image hover */
/* .fade-in-image:hover {
    opacity: 0.5;
} */
.fade-in-image-hover {
    opacity: 50%;
}

.fade-in-image-hover:hover {
    opacity: 100%;
    transition: opacity 1s;
}

/* Fade in transition for buttons */
.fade-in-btn {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}


/* Fade in transition for titles */
.fade-in-title {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

/* Fade in transition for sections */
.fade-in-section {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}


/* Fade in transition for text */
.fade-in-text {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}




