<!-- Introduction -->
<section class="portfolio-item__intro">
    <div class="portfolio-item-intro__content">

        <!-- Header -->
        <div class="portfolio-item-intro__text">
            <h1 class="portfolio-item__title--intro">
                YelpCamp
            </h1>
            <p class="portfolio-item__subtitle--intro">Review campgrounds</p>
            <p class="portfolio-item-description">YelpCamp is a web application that allows users to review and rate
                campgrounds and resorts worldwide. It's
                designed to help outdoor enthusiasts find the best camping spots based on user reviews and ratings.</p>
        </div>

        <!-- Image -->
        <img src="https://private-user-images.githubusercontent.com/113024091/346089035-6e5de159-bd05-4db4-afda-af768c471260.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjA3MzY1NjQsIm5iZiI6MTcyMDczNjI2NCwicGF0aCI6Ii8xMTMwMjQwOTEvMzQ2MDg5MDM1LTZlNWRlMTU5LWJkMDUtNGRiNC1hZmRhLWFmNzY4YzQ3MTI2MC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzExJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcxMVQyMjE3NDRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT01OGU5ZGM5MjcxYzBhMTZjNzViNjgxNTExMWExNjgzNjZkNTMwM2UxOTllZTdjZTRiOGIwMGQ2MDJkYWJmMWY1JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.3TqFTmlPjNUCFnSWsCoKvqztbW5s5WOTE8FE7F_L6aI" 
            alt="main window" class="portfolio-item-intro__img">

    </div>
</section>

<div class="portfolio-item-individual">

    <!-- Technologies -->
    <section class="technologies">
        <div class="technology tag language">
            <i class="fab fa-js"></i> JavaScript
        </div>
        <div class="technology tag language">
            <i class="fab fa-node"></i> Node.js
        </div>
        <div class="technology tag framework">
            <i class="fab fa-react"></i> React
        </div>
        <div class="technology tag framework">
            <i class="fas fa-code"></i> EJS
        </div>
        <div class="technology tag framework">
            <i class="fas fa-code"></i> Mongoose
        </div>
        <div class="technology tag database">
            <i class="fas fa-database"></i> MongoDB
        </div>
        <div class="technology tag other">
            <i class="fas fa-cloud-upload-alt"></i> Cloudinary
        </div>
        <div class="technology tag other">
            <i class="fas fa-shield-alt"></i> Helmet
        </div>
        <div class="technology tag other">
            <i class="fas fa-check-circle"></i> Joi
        </div>
        <div class="technology tag other">
            <i class="fas fa-user-shield"></i> Passport
        </div>
        <div class="technology tag other">
            <i class="fas fa-map-marker-alt"></i> Mapbox API
        </div>
    </section>

    <h3>Functionalities:</h3>
    <ul>
        <li>User registration and login with username/password or social accounts</li>
        <li>View and rate campgrounds</li>
        <li>Edit own campgrounds</li>
        <li>Main dashboard with global map and campground details</li>
        <li>Advanced search capabilities by keyword and location</li>
        <li>View specific campground details and user reviews</li>
        <li>Create and edit campground details</li>
    </ul>

    <h4>Authentication and Authorization</h4>
    <img src="https://github.com/gianmarioiamoni/yelp-campgrounds/assets/113024091/dfe4267f-0f7a-46ae-b7e9-303c18d07ddf"
        class="portfolio-details__img" alt="Sign-up">
    <p>Users can register and log in using either a username/password or their social media accounts. Registered users
        can view and rate all stored campgrounds but can only edit those they have created.</p>

    <h4>Main Dashboard</h4>
    <img src="https://github.com/gianmarioiamoni/yelp-campgrounds/assets/113024091/b70d2802-b369-4a8d-b991-feb934a46976"
        class="portfolio-details__img" alt="Map">
    <p>The main dashboard provides a global map indicating all reviewed campgrounds. Users can access specific
        campground details and perform advanced searches.</p>

    <h4>Campgrounds Search</h4>
    <img src="https://github.com/gianmarioiamoni/yelp-campgrounds/assets/113024091/c94a5c9b-823a-48c9-b9d3-8820090a9002"
        class="portfolio-details__img" alt="Camp search">
    <p>Users can search for campgrounds worldwide based on keywords or proximity to their current location.</p>

    <h4>Campground Details</h4>
    <img src="https://github.com/gianmarioiamoni/yelp-campgrounds/assets/113024091/093ad846-2588-4282-b6f2-df62d5d07e6d"
        class="portfolio-details__img" alt="Campground details">
    <p>Each campground's detail page provides information about the location and a list of reviews from all users.</p>

    <h4>Campground Edit and Creation</h4>
    <img src="https://github.com/gianmarioiamoni/yelp-campgrounds/assets/113024091/661a334b-abf8-4adb-b337-7c1e76de9c3e"
        class="portfolio-details__img" alt="Campground edit">
    <p>Users can edit the details of the campgrounds they have added. They can also create new campground entries,
        providing essential information and reviews. Newly created campgrounds will be available for all users to view.
    </p>
</div>