<!-- Introduction -->
<section class="portfolio-item__intro">
    <div class="portfolio-item-intro__content">

        <!-- Header -->
        <div class="portfolio-item-intro__text">
            <h1 class="portfolio-item__title--intro">
                Serenamente DSA 
            </h1>
            <p class="portfolio-item__subtitle--intro">Educational Support Platform for Learning Disabilities</p>
            <p class="portfolio-item-description">This project showcases a comprehensive website designed for a professional specializing in Specific Learning
            Disabilities (SLD) for primary school children. The site provides detailed descriptions of the services offered,
            including personalized tutoring and consultation sessions. Additionally, the platform features an engaging blog with the
            latest insights and research on SLD, a rich repository of educational materials, and informative videos to support
            parents, teachers, and students. This resource aims to create an accessible and supportive environment for children with
            learning disabilities to thrive academically and personally.</p>
        </div>

        <!-- Image -->
        <img src="/img/portfolio-05-intro.png"
            alt="main window" class="portfolio-item-intro__img fade-in-image">

    </div>
</section>

<div class="section-divider"></div>

<div class="portfolio-item-individual">
    
    <!-- Technologies -->
    <section class="technologies">
        <div class="technology tag other">
            <i class="fab fa-wordpress"></i> WordPress
        </div>
        <div class="technology tag language">
            <i class="fab fa-html5"></i> HTML
        </div>
        <div class="technology tag language">
            <i class="fab fa-css3-alt"></i> CSS
        </div>
        <div class="technology tag language">
            <i class="fab fa-js"></i> JavaScript
        </div>
        
    </section>

    <div class="section-divider"></div>

    <h3>Functionalities:</h3>
    <ul>
        <li>Services Offered</li>
        <li>Introduction to SLD</li>
        <li>Blog</li>
        <li>Informative Videos</li>
        <li>Educational Materials</li>
        <li>Contact Me Form</li>
        <li>About Me Section</li>
    </ul>

    <h3>Services Offered</h3>

    <p>The platform provides four main services: Development of Compensatory Skills, Enhancement of Study Methods, Development of
    Metacognitive Processes, and Improvement of Reading and Writing Skills for Children with Specific Learning Disabilities
    (SLD) or Learning Difficulties.</p> 
    <img src="/img/portfolio-05/portfolio-05-02.png"
        class="portfolio-details__img" alt="services offered">
    <p>Each service is detailed on dedicated pages, providing comprehensive insights and
    resources for effective support. </p>
    <img src="/img/portfolio-05/portfolio-05-03.png" class="portfolio-details__img" alt="services offered">
    <img src="/img/portfolio-05/portfolio-05-04.png" class="portfolio-details__img" alt="services offered">
    <img src="/img/portfolio-05/portfolio-05-05.png" class="portfolio-details__img" alt="services offered">
    <img src="/img/portfolio-05/portfolio-05-06.png" class="portfolio-details__img" alt="services offered">
    
    <h3>Introduction to SLD</h3>
    <p>The "Introduction to Specific Learning Disabilities" section provides a comprehensive overview of SLD, presented both
    visually and textually.</p>
    <img src="/img/portfolio-05/portfolio-05-07.png" class="portfolio-details__img" alt="Introduction to SLD">
    
    <p>Key topics include "What Does SLD Mean?", which defines and explains the condition, "Origins and
    Manifestations of SLD", which delves into the causes and symptoms, and "How to Support a Student with SLD?", offering
    practical strategies and resources for aiding students with SLD. This section aims to educate and inform, making complex
    information accessible and actionable.</p>
    <img src="/img/portfolio-05/portfolio-05-10.png" class="portfolio-details__img" alt="Introduction to SLD">
    <img src="/img/portfolio-05/portfolio-05-09.png" class="portfolio-details__img" alt="Introduction to SLD">
    <img src="/img/portfolio-05/portfolio-05-08.png" class="portfolio-details__img" alt="Introduction to SLD">

    <h3>Blog</h3>
    <p>The Blog section is a dynamic space where topics of interest for teachers, parents, and specialists in the field are
    regularly discussed. It features a variety of articles that provide insights, tips, and updates relevant to the world of
    Specific Learning Disabilities. Users can leave comments to engage in discussions and share their perspectives. The site
    also offers robust search and cataloging tools, making it easy to find and navigate through the diverse range of content
    available.</p>
    <img src="/img/portfolio-05/portfolio-05-11.png" class="portfolio-details__img" alt="Blog">
    <img src="/img/portfolio-05/portfolio-05-12.png" class="portfolio-details__img" alt="Blog">
    
    <h3>Informative Videos</h3>
    <p>The Informative Videos section offers a collection of educational videos that cover a wide range of topics related to
    the world of Specific Learning Disabilities (DSA). These videos provide valuable insights and practical advice, making
    complex concepts accessible and engaging. Whether you're a teacher, parent, or specialist, these videos serve as a
    useful resource for understanding and addressing the needs of students with DSA.</p>
    <img src="/img/portfolio-05/portfolio-05-13.png" class="portfolio-details__img" alt="Informative Videos">
    <img src="/img/portfolio-05/portfolio-05-14.png" class="portfolio-details__img" alt="Informative Videos">
    
    <h3>Educational Materials</h3>
    <p>The Compensatory Tools section provides practical resources designed to assist teachers and parents in supporting the
    learning of children with Specific Learning Disabilities (DSA). This section features a variety of tools and techniques
    aimed at enhancing the educational experience and helping children overcome challenges. From interactive exercises to
    specialized software, these resources are curated to facilitate effective learning and foster academic success for
    students with DSA.</p>
    <img src="/img/portfolio-05/portfolio-05-15.png" class="portfolio-details__img" alt="Educational Materials">
    
    <h3>Contact Me Form</h3>
    <p>The Contact Me section is your gateway to connecting with the learning disability specialist. Whether the users have
    questions, seek consultation, or request tutoring services, this section provides an easy way to get in touch.</p>
    <p>This section ensures that the users have all the necessary means to reach out for support and guidance tailored to the needs
    of children with Specific Learning Disabilities (DSA).</p>
    <img src="/img/portfolio-05/portfolio-05-16.png" class="portfolio-details__img" alt="Contact Me Form">
    <img src="/img/portfolio-05/portfolio-05-17.png" class="portfolio-details__img" alt="Contact Me Form">
    
    <h3>About Me Section</h3>
    <p>The About Me section offers a comprehensive overview of the professional expertise and background of our learning
    disability specialist. Here, you will find detailed information on their academic qualifications, including degrees and
    certifications in education and special needs. The section highlights their specialized training in Specific Learning
    Disabilities (DSA) and showcases their extensive teaching experience. It also delves into their practical skills and
    methods developed through years of working directly with children, parents, and educators. This section aims to provide
    a clear picture of the professional’s dedication, expertise, and commitment to supporting the educational needs of
    children with learning difficulties.</p>
    <img src="/img/portfolio-05/portfolio-05-18.png" class="portfolio-details__img" alt="About Me Section">
</div>